body{ 
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
}
* { 
  box-sizing: border-box;
}
:root { 
  --background-color: #151515;
  --border-color: #301B3F;
  --main-color: #3C415C;
  --secondary-color: #B4A5A5;
}
.container { 
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media(min-width: 767px) { 
  .container { 
    width: 750px;
  }
}
@media(min-width: 992px) { 
  .container { 
    width: 950px;
  }
}
@media(min-width: 1200px) { 
  .container { 
    width: 1150px;
  }
}
article { 
  padding-top: 10px;
}
article .container { 
  display: flex;
    color: white;
    flex-direction: column;
    gap: 20px;
}

article .container h1 { 
  text-align: center;
  padding: 20px;
  margin: 0;
}
article .container p { 
  line-height: 3;
  text-align: center;
  font-size: .9rem;
}
.section .container{ 
  color: white;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section .container p {
  text-align: center;
  width: 350px;
} 
.section .container a{ 
  text-decoration: none;
    color: white;
    background-color: var(--main-color);
    padding: 10px 20px;
    display: inline-block;
    margin-top: 28px;
} 



